@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

#inicio {
    background: linear-gradient( rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url("../img/fondo-amigos.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.logo{
    width:30px;
}
.navbar-nav .nav-link.active{
    color: #ff0000 !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: #ffffff;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #ff0000 ;
}
.bg-dark {
    background-color: rgba(0, 0, 0, .8) !important;
}

.redes .bi{
    content: "";
    color: #ffffff;
    font-size: 20px;
    margin: 5px;
}
.redes .bi:hover{
    color: #ff0000;
    transition: 1s;
    font-size: 21px;
}
.navbar-toggler {
    background-color: white;
}
.navbar-toggler:hover {
    background-color: #ff0000;
    transition: 400ms;
}

.presentacion{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bienvenida {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}


#servicios {
    padding: 100px 15px;
    text-align: center;
    background-color: #f3f3f3;
}

#servicios .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#servicios .fila {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 30px auto;
}

#servicios .fila .servicio {
    max-width: 350px;
    background-color: #fff;
    padding: 30px;
    margin: 0 5px;
    border-radius: 5px;
    transition: .5s;
}

#servicios .fila .servicio:hover {
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

#servicios .fila .servicio .icono {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ff0000;
    padding: 20px;
    margin-bottom: 25px;
}
.familia{
    width: 150px;
    border-radius: 100px;

}

#servicios .fila .servicio h4 {
    font-size: 22px;
    margin-bottom: 25px;
}

#servicios .fila .servicio hr {
    width: 30%;
    margin: auto;
    color: #000;
    margin-bottom: 25px;
}

#servicios .fila .servicio ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

#servicios .fila .servicio p {
    font-size: 14px;
    line-height: 22px;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}
