@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

#inicio {
    background: linear-gradient( rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url("../img/fondo-contacto.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.logo{
    width:30px;
}
.navbar-nav .nav-link.active{
    color: #ff0000 !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: #ffffff;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #ff0000 ;
}
.bg-dark {
    background-color: rgba(0, 0, 0, .8) !important;
}

.redes .bi{
    content: "";
    color: #ffffff;
    font-size: 20px;
    margin: 5px;
}
.redes .bi:hover{
    color: #ff0000;
    transition: 1s;
    font-size: 21px;
}
.navbar-toggler {
    background-color: white;
}
.navbar-toggler:hover {
    background-color: #ff0000;
    transition: 400ms;
}

.presentacion{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bienvenida {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#contacto{
    width: 100%;
    background-color: #f3f3f3;
}
.titulo-seccion{
    padding-top: 30px;
    text-align: center;
}
.contenedor-form{
    padding:30px;
    background-color:  rgba(0, 0, 0, 0.24);;
    margin-bottom:30px;
    border-radius: 25px;
}
.btn{
    margin-top: 20px;
    width: 100%;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}
